<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Lumia - Multipurpose responsive bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="assets/css/flexslider.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/color/default.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,600,400italic|Open+Sans:400,600,700" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Lumia
    Theme URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div id="wrapper">
    <header>
      <!-- Navbar
    ================================================== -->
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- logo -->
            <div class="logo">
              <a href="index.html">
								<img src="assets/img/logo.png" alt="" />
							</a>
            </div>
            <!-- end logo -->
            <!-- top menu -->
            <div class="navigation">
              <nav>
                <ul class="nav topnav">
                  <li class="active">
                    <a href="/"><i class="icon-home"></i> PRINCIPAL </a>
                  </li>
                  <li class="dropdown">
                    <a href="#"><i class="fa fa-bed"></i> HOTELES <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="../hoteles"><font color=white>Todos los Hoteles</font></a></li>
                      <li><a href="../ubicacion"><font color=white>Ubicacion Hoteles</font></a></li>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#"><i class="icon-cog"></i> ADMINISTRAR <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="../hotelesn"><font color=white>Hoteles</font></a></li>
                      <li><a href="../usuarios"><font color=white>Usuarios</font></a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact.html"><i class="icon-envelope-alt"></i> Contactanos </a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- end menu -->
          </div>
        </div>
      </div>
    </header>
    <!-- Subintro
================================================== -->
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Pages</a><i class="icon-angle-right"></i></li>
              <li class="active">Contact us</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="subintro" align="center">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><b>Trabajo final de fin de ciclo de la materia de metodologias de la investigacion<b></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent">
      <div class="rows" align="center">
        <div class="row">
          <div class="span12">
            <h1 align="center">Desarrolladores</h1>
            <h5><i class="icon-coffee icon-circled icon-32 active"></i> <b>"Si buscas resultados distintos, no agas siempre lo mismo"<b></h5>
          </div>
        </div>

        <div class="row">
          <div class="apan10">

          <div>
          <div class="span5">
            <!-- start: Accordion -->
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="centered">
                  <img src="../assets/img/dummies/tilla.jpg" alt="" />
                </div>
                <div class="accordion-heading">
                  <h4>   Jonathan</h4>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    Estudiante de Ingenieria en Sistemas en la Universidad Nacional de Loja.<br>
                    <a href="https://www.facebook.com/jonathan.tillaguango.96?lst=100002356938885%3A100007915990298%3A1536325676" title="Facebook"><i class="icon-square icon-32 icon-facebook"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="span5">
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="centered">
                    <img src="../assets/img/dummies/jorge.jpg" alt="" />
                  </div>
                  <div class="accordion-heading">
                    <h4>Jorge </h4>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      Tecnologo, estudiante de Ingenieria en Sistemas  en la Universidad Nacional de Loja.<br>
                      <a href="https://www.facebook.com/Jorgel21" title="Facebook"><i class="icon-square icon-32 icon-facebook"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="span5">
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="centered">
                    <img src="../assets/img/dummies/david.jpg" alt="" />
                  </div>
                  <div class="accordion-heading">
                    <h4>David</h4>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      Estudiante de Ingenieria en Sistemas  en la Universidad Nacional de Loja.<br>
                      <a href="https://www.facebook.com/davidpacheco.pacheco.5" title="Facebook"><i class="icon-square icon-32 icon-facebook"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Footer
 ================================================== -->
<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <h5>Pagina de interés</h5>
              <ul class="regular">
                <li><a href="index.html">INICIO</a></li>
                <li><a href="media.html">HOTELES</a></li>
                
              </ul>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5>Fotos loja</h5>
              <div class="flickr-badge">
                <img src="image/loja1.png" alt="" />
                <img src="image/loja2.jpg" alt="" />
                <img src="image/loja3.jpg" alt="" />
                <img src="image/loja4.jpg" alt="" /><br>
                <img src="image/loja5.jpg" alt="" />
                <img src="image/loja6.jpg" alt="" />

              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5>Como encontrarnos</h5>
              <address>
              <i class="icon-home"></i> <strong>Univerdad Nacional de Loja</strong><br>
                <i class=" icon-desktop"></i> <strong>Carrera Ingenieria en Sistemas</strong><br>
                Avenida Pio Jaramillo Alvarado<br>
                Loja 110103
                </address>
              <p>
                <i class="icon-phone"></i> (593) 981 832 948<br>
                <i class="icon-envelope-alt"></i> jonathan.tiilaguango@unl.edu.ec
              </p>
               <p>
                <i class="icon-phone"></i> (593) 981 343 234<br>
                <i class="icon-envelope-alt"></i> david.pacheco@unl.edu.ec
              </p>
              <p>
                <i class="icon-phone"></i> (593) 939 662 554<br>
                <i class="icon-envelope-alt"></i> jorge.pucha@unl.edu.ec
              </p>
            </div>

            <div class="widget">
              <ul class="social">
               <li><a href="https://twitter.com" title="Twitter"><i class="icon-square icon-32 icon-twitter"></i></a></li>
                <li><a href="https://facebook.com" title="Facebook"><i class="icon-square icon-32 icon-facebook"></i></a></li>
                <li><a href="https://plus.google.com" title="Google plus"><i class="icon-square icon-32 icon-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com" title="Linkedin"><i class="icon-square icon-32 icon-linkedin"></i></a></li>
       
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <!-- end wrapper -->
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-48 active"></i></a>
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/raphael-min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/jquery.flexslider.js"></script>
  <script src="assets/js/jquery-hover-effect.js"></script>
  <script src="assets/js/animate.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>

</body>

</html>
