<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lumia - Multipurpose responsive bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="assets/css/mdb.css" rel="stylesheet">
  <link href="assets/css/mdb.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="assets/css/flexslider.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="../../assets/css/style3.css" rel="stylesheet">
  <link href="assets/css/style4.css" rel="stylesheet">
  <link href="assets/color/default.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,600,400italic|Open+Sans:400,600,700" rel="stylesheet">
  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>
  </title>
</head>
<body>

    <!-- Subintro
================================================== -->
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span4" style="float:right">
            <div class="search">
              <form class="input-append">
                <button class="btn btn-dark" type="submit"><a href="/">Cerrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="intro">
      <div class="container"> 
        <div class="row">
          <div class="span6">
              <div class="priceBox">
                <div class="panel-body">
                  <h4><center><b>Hoteles de Loja</b></center></h4>
                  <hr size="8px" color="black" />
                  <h5><b>Inicia Sesión</b></h5>
                  <h5>Puedes inicar sesión con tu cuenta para acceder a los servicios</h5>
                  <br>
                  <h5>Login</h5>
                  <input type="text" name="Login" class="input-block-level" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <h5>Password</h5>
                  <input type="text" name="password" class="input-block-level" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <a href="#" class="btn btn-large btn-theme">Ingresar</a>
                  <br>
                  <h5><b>Aun no tienes Cuenta?</b></h5>
                  <h5>Crea tu cuenta para acceder a los servicios</h5>
                  <a href="../login">Crear Cuenta</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- end wrapper -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/raphael-min.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/jquery.elastislide.js"></script>
    <script src="assets/js/jquery.prettyPhoto.js"></script>
    <script src="assets/js/jquery.flexslider.js"></script>
    <script src="assets/js/jquery-hover-effect.js"></script>
    <script src="assets/js/animate.js"></script>
    <!-- Template Custom JavaScript File -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
